/**
 *  通用变量定义
 */

 
$color-main-common: #1472FF;
$color-main-error: #FF4747;
$color-white: #fff;
$color-balck: #000;

$font-main: #333;
$font-second: #999;
$font-tips: #b2b2b2;

$bg-main: #f5f5f5;
$bg-second: #ededed;
$bg-white: #fff;

$border-main: #ccc;
$border-second: #ebebeb;
